## Condition classification

In [ ]:
import pandas as pd

dataset = pd.read_csv("data_klasifikasi_stunting.csv")
dataset

        Gender  Tahun  Bulan  -3 SD  -2 SD  -1 SD  Median  +1 SD  +2 SD  +3 SD
0    Perempuan      0      0   10.1   11.1   12.2    13.3   14.6   16.1   17.7
1    Perempuan      0      1   10.8   12.0   13.2    14.6   16.0   17.5   19.1
2    Perempuan      0      2   11.8   13.0   14.3    15.8   17.3   19.0   20.7
3    Perempuan      0      3   12.4   13.6   14.9    16.4   17.9   19.7   21.5
4    Perempuan      0      4   12.7   13.9   15.2    16.7   18.3   20.0   22.0
..         ...    ...    ...    ...    ...    ...     ...    ...    ...    ...
453  Laki-laki     18      8   15.8   17.5   19.5    22.0   25.3   29.6   35.5
454  Laki-laki     18      9   15.8   17.5   19.5    22.1   25.3   29.6   35.5
455  Laki-laki     18     10   15.8   17.5   19.6    22.1   25.4   29.6   35.5
456  Laki-laki     18     11   15.8   17.5   19.6    22.2   25.4   29.7   35.5
457  Laki-laki     19      0   15.9   17.6   19.6    22.2   25.4   29.7   35.5

[458 rows x 10 columns]