## TumbuhKuy Condition Classification

### 0. Importiing dependencies and dataset

In [4]:
# data handling
import pandas as pd

# read dataset
dataset = pd.read_csv("data_klasifikasi_stunting.csv")
dataset.head()

      Gender  Tahun  Bulan  -3 SD  -2 SD  -1 SD  Median  +1 SD  +2 SD  +3 SD
0  Perempuan      0      0   10.1   11.1   12.2    13.3   14.6   16.1   17.7
1  Perempuan      0      1   10.8   12.0   13.2    14.6   16.0   17.5   19.1
2  Perempuan      0      2   11.8   13.0   14.3    15.8   17.3   19.0   20.7
3  Perempuan      0      3   12.4   13.6   14.9    16.4   17.9   19.7   21.5
4  Perempuan      0      4   12.7   13.9   15.2    16.7   18.3   20.0   22.0

### 1. Make the categorization code

In [ ]:
# code to get the clasification
year_age: int = 16
month_age: int = 0

is_female: bool = True

if is_female: gender = "Perempuan"
else: gender = "Laki-laki"

massa_tubuh: float = 59.6

selected_category = dataset.loc[(dataset["Gender"] == gender) & 
                                (dataset["Tahun"] == year_age) &
                                (dataset["Bulan"] == month_age)]

z_score = ()

        Gender  Tahun  Bulan  -3 SD  -2 SD  -1 SD  Median  +1 SD  +2 SD  +3 SD
192  Perempuan     16      0   14.6   16.2   18.2    20.7   24.1   28.9   36.1