In [5]:
import pandas as pd

data = pd.read_csv("requirements_gizi_fixed.csv", sep=";")
data.head()

,Gender,Kelompok Umur,Berat Badan (kg),Tinggi Badan (cm),Air (ml),Energi (kal),Protein (gram),Lemak (gram),Karbohidrat (gram),Serat (gram)
0,Laki-laki,0 - 5 Bulan,6,60,700,550,9,31,59,0
1,Laki-laki,6 - 11 Bulan,9,72,900,800,15,35,105,11
2,Laki-laki,1 - 3 Tahun,13,92,1150,1350,20,45,215,19
3,Laki-laki,4 - 6 Tahun,19,113,1450,1400,25,50,220,20
4,Laki-laki,7 - 9 Tahun,27,130,1650,1650,40,55,250,23